.sezzle-checkout-modal-lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999998;
    background-color: rgba(5, 31, 52, .57);
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden
  }
  .sezzle-checkout-modal-lightbox a,
  .sezzle-checkout-modal-lightbox abbr,
  .sezzle-checkout-modal-lightbox acronym,
  .sezzle-checkout-modal-lightbox address,
  .sezzle-checkout-modal-lightbox applet,
  .sezzle-checkout-modal-lightbox article,
  .sezzle-checkout-modal-lightbox aside,
  .sezzle-checkout-modal-lightbox audio,
  .sezzle-checkout-modal-lightbox b,
  .sezzle-checkout-modal-lightbox big,
  .sezzle-checkout-modal-lightbox blockquote,
  .sezzle-checkout-modal-lightbox body,
  .sezzle-checkout-modal-lightbox canvas,
  .sezzle-checkout-modal-lightbox caption,
  .sezzle-checkout-modal-lightbox center,
  .sezzle-checkout-modal-lightbox cite,
  .sezzle-checkout-modal-lightbox code,
  .sezzle-checkout-modal-lightbox dd,
  .sezzle-checkout-modal-lightbox del,
  .sezzle-checkout-modal-lightbox details,
  .sezzle-checkout-modal-lightbox dfn,
  .sezzle-checkout-modal-lightbox div,
  .sezzle-checkout-modal-lightbox dl,
  .sezzle-checkout-modal-lightbox dt,
  .sezzle-checkout-modal-lightbox em,
  .sezzle-checkout-modal-lightbox embed,
  .sezzle-checkout-modal-lightbox fieldset,
  .sezzle-checkout-modal-lightbox figcaption,
  .sezzle-checkout-modal-lightbox figure,
  .sezzle-checkout-modal-lightbox footer,
  .sezzle-checkout-modal-lightbox form,
  .sezzle-checkout-modal-lightbox h1,
  .sezzle-checkout-modal-lightbox h2,
  .sezzle-checkout-modal-lightbox h3,
  .sezzle-checkout-modal-lightbox h4,
  .sezzle-checkout-modal-lightbox h5,
  .sezzle-checkout-modal-lightbox h6,
  .sezzle-checkout-modal-lightbox header,
  .sezzle-checkout-modal-lightbox hgroup,
  .sezzle-checkout-modal-lightbox html,
  .sezzle-checkout-modal-lightbox i,
  .sezzle-checkout-modal-lightbox iframe,
  .sezzle-checkout-modal-lightbox img,
  .sezzle-checkout-modal-lightbox ins,
  .sezzle-checkout-modal-lightbox kbd,
  .sezzle-checkout-modal-lightbox label,
  .sezzle-checkout-modal-lightbox legend,
  .sezzle-checkout-modal-lightbox li,
  .sezzle-checkout-modal-lightbox mark,
  .sezzle-checkout-modal-lightbox menu,
  .sezzle-checkout-modal-lightbox nav,
  .sezzle-checkout-modal-lightbox object,
  .sezzle-checkout-modal-lightbox ol,
  .sezzle-checkout-modal-lightbox output,
  .sezzle-checkout-modal-lightbox p,
  .sezzle-checkout-modal-lightbox pre,
  .sezzle-checkout-modal-lightbox q,
  .sezzle-checkout-modal-lightbox ruby,
  .sezzle-checkout-modal-lightbox s,
  .sezzle-checkout-modal-lightbox samp,
  .sezzle-checkout-modal-lightbox section,
  .sezzle-checkout-modal-lightbox small,
  .sezzle-checkout-modal-lightbox span,
  .sezzle-checkout-modal-lightbox strike,
  .sezzle-checkout-modal-lightbox strong,
  .sezzle-checkout-modal-lightbox sub,
  .sezzle-checkout-modal-lightbox summary,
  .sezzle-checkout-modal-lightbox sup,
  .sezzle-checkout-modal-lightbox table,
  .sezzle-checkout-modal-lightbox tbody,
  .sezzle-checkout-modal-lightbox td,
  .sezzle-checkout-modal-lightbox tfoot,
  .sezzle-checkout-modal-lightbox th,
  .sezzle-checkout-modal-lightbox thead,
  .sezzle-checkout-modal-lightbox time,
  .sezzle-checkout-modal-lightbox tr,
  .sezzle-checkout-modal-lightbox tt,
  .sezzle-checkout-modal-lightbox u,
  .sezzle-checkout-modal-lightbox ul,
  .sezzle-checkout-modal-lightbox var,
  .sezzle-checkout-modal-lightbox video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: normal
  }
  .sezzle-checkout-modal-lightbox .sezzle-modal-title {
    font-size: 35px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
  }
  .sezzle-checkout-modal-lightbox .sezzle-modal-title .sezzle-title-text-left {
    padding-top: 13px;
    padding-right: 6px
  }
  @media (max-width: 450px) {
    .sezzle-checkout-modal-lightbox .sezzle-modal-title .sezzle-title-text-left {
        padding-top: 6px;
        padding-right: 2px
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-modal-title .sezzle-title-text-right {
    padding-top: 13px;
    padding-left: 5px
  }
  @media (max-width: 450px) {
    .sezzle-checkout-modal-lightbox .sezzle-modal-title .sezzle-title-text-right {
        padding-top: 6px;
        padding-left: 2px
    }
  }
  @media (max-width: 450px) {
    .sezzle-checkout-modal-lightbox .sezzle-modal-title {
        font-size: 26px;
        margin: 15px 0 10px
    }
  }
  @media (max-width: 375px) {
    .sezzle-checkout-modal-lightbox .sezzle-modal-title {
        font-size: 22px;
        margin: 15px 0 10px
    }
  }
  @media (max-width: 320px) {
    .sezzle-checkout-modal-lightbox .sezzle-modal-title {
        font-size: 20px;
        margin: 15px 0 10px
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-header-text {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 36px;
    text-align: center;
    padding: 0;
    margin: 20px 60px
  }
  @media (max-width: 650px) {
    .sezzle-checkout-modal-lightbox .sezzle-header-text {
        font-size: 19px;
        line-height: 30px
    }
  }
  @media (max-width: 450px) {
    .sezzle-checkout-modal-lightbox .sezzle-header-text {
        font-size: 18px;
        line-height: 26px;
        margin: 35px 30px 10px
    }
  }
  @media (max-width: 400px) {
    .sezzle-checkout-modal-lightbox .sezzle-header-text {
        font-size: 18px;
        line-height: 26px;
        margin: 35px 15px 10px
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-sub-header-text {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    margin: 0 10%;
    opacity: .8
  }
  @media (max-width: 450px) {
    .sezzle-checkout-modal-lightbox .sezzle-sub-header-text {
        margin-top: 25px;
        font-size: 12px
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-footer-text {
    font-size: 10px;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    padding: 0;
    opacity: .7;
    margin: 20px 0 0
  }
  @media (max-width: 450px) {
    .sezzle-checkout-modal-lightbox .sezzle-footer-text {
        margin: 35px 10%
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-simply-select {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 20px
  }
  @media (max-width: 450px) {
    .sezzle-checkout-modal-lightbox .sezzle-simply-select {
        margin-top: 35px
    }
  }
  @media (max-width: 375px) {
    .sezzle-checkout-modal-lightbox .sezzle-simply-select {
        font-size: 17px
    }
  }
  @media (max-width: 320px) {
    .sezzle-checkout-modal-lightbox .sezzle-simply-select {
        font-size: 15px
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-simply-select img {
    height: 40px!important;
    padding-right: 6px
  }
  @media (max-width: 375px) {
    .sezzle-checkout-modal-lightbox .sezzle-simply-select img {
        height: 35px!important
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-simply-select .sezzle-inline-text-left {
    padding-top: 9px;
    padding-right: 6px
  }
  .sezzle-checkout-modal-lightbox .sezzle-simply-select .sezzle-inline-text-right {
    padding-top: 9px
  }
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal-hidden {
    transition: all .4s ease;
    margin-top: -1500vh
  }
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal {
    position: relative;
    z-index: 99999998;
    background-color: #fafafa;
    box-shadow: 0 10px 20px rgba(5, 31, 52, .19), 0 6px 6px rgba(5, 31, 52, .2);
    border-radius: 3px;
    color: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 35px 30px 20px;
    transition: all .4s ease;
    width: 650px;
    margin: 120px auto
  }
  @media (max-width: 650px) {
    .sezzle-checkout-modal-lightbox .sezzle-checkout-modal {
        padding: 50px 10px 10px;
        margin: 0;
        border-radius: 0;
        height: 100%;
        font-size: 15px;
        max-width: 100%;
        min-width: 320px;
        overflow: auto
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-visible-flex {
    display: -ms-flexbox;
    display: flex
  }
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal h1 {
    font-size: 18px;
    text-align: center;
    margin: 0 auto
  }
  @media (max-width: 450px) {
    .sezzle-checkout-modal-lightbox .sezzle-checkout-modal h1 .sezzle-checkout-modal h1 {
        font-size: 16px
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal .sezzle-modal-logo {
    height: 65px!important;
    display: block
  }
  @media (max-width: 450px) {
    .sezzle-checkout-modal-lightbox .sezzle-checkout-modal .sezzle-modal-logo {
        height: 45px!important
    }
  }
  @media (max-width: 375px) {
    .sezzle-checkout-modal-lightbox .sezzle-checkout-modal .sezzle-modal-logo {
        height: 40px!important;
        height: 35px!important
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-modal-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px
  }
  .sezzle-checkout-modal-lightbox .sezzle-modal-flex .sezzle-modal-half {
    display: block;
    -ms-flex-positive: 2;
    flex-grow: 2;
    min-width: 200px;
    width: 50%;
    padding: 0 5px
  }
  @media (max-width: 320px) {
    .sezzle-checkout-modal-lightbox .sezzle-modal-flex .sezzle-modal-half {
        padding: 0
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-modal-flex .sezzle-modal-half img {
    display: block;
    margin: 0 auto;
    height: 80px!important;
    padding-right: 7px;
    width: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative
  }
  @media (max-width: 450px) {
    .sezzle-checkout-modal-lightbox .sezzle-modal-flex .sezzle-modal-half img {
        height: 60px!important;
        margin-top: 45px
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-modal-flex .sezzle-modal-half p {
    display: block;
    box-sizing: border-box;
    padding: 10px 10px 15px;
    font-size: 16px;
    line-height: 24px;
    text-align: center
  }
  @media (max-width: 650px) {
    .sezzle-checkout-modal-lightbox .sezzle-modal-flex .sezzle-modal-half p {
        font-size: 15px
    }
  }
  @media (max-width: 450px) {
    .sezzle-checkout-modal-lightbox .sezzle-modal-flex .sezzle-modal-half p {
        padding: 10px 20px 15px
    }
  }
  @media (max-width: 375px) {
    .sezzle-checkout-modal-lightbox .sezzle-modal-flex .sezzle-modal-half p {
        padding: 10px 15px 15px
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-modal-flex .sezzle-modal-half p b {
    display: block;
    font-size: 22px;
    font-weight: bolder;
    padding-bottom: 8px;
    text-align: center
  }
  @media (max-width: 650px) {
    .sezzle-checkout-modal-lightbox .sezzle-modal-flex .sezzle-modal-half p b {
        font-size: 18px
    }
  }
  @media (max-width: 600px) {
    .sezzle-checkout-modal-lightbox .sezzle-hide-600 {
        display: none
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal p {
    display: block;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    text-transform: none;
    font-size: 11pt;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .5px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .8);
    padding: 15px 0
  }
  @media (max-width: 450px) {
    .sezzle-checkout-modal-lightbox .sezzle-checkout-modal p {
        font-size: 8.5pt;
        text-align: center;
        letter-spacing: .25px;
        line-height: 18px
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal p small {
    display: block;
    box-sizing: border-box;
    padding: 12px 0;
    font-size: 8.5pt;
    opacity: .8
  }
  @media (max-width: 450px) {
    .sezzle-checkout-modal-lightbox .sezzle-checkout-modal p small {
        font-size: 7.5pt
    }
  }
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal .sezzle-checkout-button {
    max-width: 200px;
    display: block;
    margin: 0 auto
  }
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal a {
    display: block;
    margin: 4px auto 0;
    color: #17ce6a;
    font-size: 8pt;
    font-weight: 500;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: .25px;
    text-decoration: none;
    transition: .15s;
    opacity: .65
  }
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal a:hover {
    transition: .1s;
    opacity: 1
  }
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal h2 {
    font-size: 18px;
    text-align: center;
    margin: 0 auto 10px
  }
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal h2 img {
    margin: 0 4px;
    display: inline-block;
    height: 30px!important;
    width: auto;
    position: relative;
    top: 6px;
    vertical-align: initial
  }
  .sezzle-checkout-modal-lightbox .sezzle-continue-to-checkout {
    background-color: #17ce6a
  }
  .sezzle-checkout-modal-lightbox .sezzle-continue-to-checkout:hover {
    background-color: #02ef72
  }
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal div.sezzle-no-thanks {
    font-size: 25pt;
    opacity: .5;
    transition: .15s;
    position: absolute;
    top: 0;
    right: 13px
  }
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal div.sezzle-no-thanks:hover {
    transition: .15s;
    opacity: 1;
    cursor: pointer
  }
  .sezzle-checkout-button-wrapper {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 10px;
    font-size: 15px
  }
  .sezzle-checkout-button-wrapper a,
  .sezzle-checkout-button-wrapper abbr,
  .sezzle-checkout-button-wrapper acronym,
  .sezzle-checkout-button-wrapper address,
  .sezzle-checkout-button-wrapper applet,
  .sezzle-checkout-button-wrapper article,
  .sezzle-checkout-button-wrapper aside,
  .sezzle-checkout-button-wrapper audio,
  .sezzle-checkout-button-wrapper b,
  .sezzle-checkout-button-wrapper big,
  .sezzle-checkout-button-wrapper blockquote,
  .sezzle-checkout-button-wrapper body,
  .sezzle-checkout-button-wrapper canvas,
  .sezzle-checkout-button-wrapper caption,
  .sezzle-checkout-button-wrapper center,
  .sezzle-checkout-button-wrapper cite,
  .sezzle-checkout-button-wrapper code,
  .sezzle-checkout-button-wrapper dd,
  .sezzle-checkout-button-wrapper del,
  .sezzle-checkout-button-wrapper details,
  .sezzle-checkout-button-wrapper dfn,
  .sezzle-checkout-button-wrapper div,
  .sezzle-checkout-button-wrapper dl,
  .sezzle-checkout-button-wrapper dt,
  .sezzle-checkout-button-wrapper em,
  .sezzle-checkout-button-wrapper embed,
  .sezzle-checkout-button-wrapper fieldset,
  .sezzle-checkout-button-wrapper figcaption,
  .sezzle-checkout-button-wrapper figure,
  .sezzle-checkout-button-wrapper footer,
  .sezzle-checkout-button-wrapper form,
  .sezzle-checkout-button-wrapper h1,
  .sezzle-checkout-button-wrapper h2,
  .sezzle-checkout-button-wrapper h3,
  .sezzle-checkout-button-wrapper h4,
  .sezzle-checkout-button-wrapper h5,
  .sezzle-checkout-button-wrapper h6,
  .sezzle-checkout-button-wrapper header,
  .sezzle-checkout-button-wrapper hgroup,
  .sezzle-checkout-button-wrapper html,
  .sezzle-checkout-button-wrapper i,
  .sezzle-checkout-button-wrapper iframe,
  .sezzle-checkout-button-wrapper img,
  .sezzle-checkout-button-wrapper ins,
  .sezzle-checkout-button-wrapper kbd,
  .sezzle-checkout-button-wrapper label,
  .sezzle-checkout-button-wrapper legend,
  .sezzle-checkout-button-wrapper li,
  .sezzle-checkout-button-wrapper mark,
  .sezzle-checkout-button-wrapper menu,
  .sezzle-checkout-button-wrapper nav,
  .sezzle-checkout-button-wrapper object,
  .sezzle-checkout-button-wrapper ol,
  .sezzle-checkout-button-wrapper output,
  .sezzle-checkout-button-wrapper p,
  .sezzle-checkout-button-wrapper pre,
  .sezzle-checkout-button-wrapper q,
  .sezzle-checkout-button-wrapper ruby,
  .sezzle-checkout-button-wrapper s,
  .sezzle-checkout-button-wrapper samp,
  .sezzle-checkout-button-wrapper section,
  .sezzle-checkout-button-wrapper small,
  .sezzle-checkout-button-wrapper span,
  .sezzle-checkout-button-wrapper strike,
  .sezzle-checkout-button-wrapper strong,
  .sezzle-checkout-button-wrapper sub,
  .sezzle-checkout-button-wrapper summary,
  .sezzle-checkout-button-wrapper sup,
  .sezzle-checkout-button-wrapper table,
  .sezzle-checkout-button-wrapper tbody,
  .sezzle-checkout-button-wrapper td,
  .sezzle-checkout-button-wrapper tfoot,
  .sezzle-checkout-button-wrapper th,
  .sezzle-checkout-button-wrapper thead,
  .sezzle-checkout-button-wrapper time,
  .sezzle-checkout-button-wrapper tr,
  .sezzle-checkout-button-wrapper tt,
  .sezzle-checkout-button-wrapper u,
  .sezzle-checkout-button-wrapper ul,
  .sezzle-checkout-button-wrapper var,
  .sezzle-checkout-button-wrapper video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-align: left
  }
  .sezzle-checkout-button-wrapper .sezzle-button-text {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    word-wrap: normal
  }
  @media (max-width: 350px) {
    .sezzle-checkout-button-wrapper .sezzle-button-text {
        font-size: 14px
    }
  }
  .sezzle-checkout-button-wrapper .sezzle-button-text.sezzle-thin {
    width: 240px;
    line-height: 28px
  }
  .sezzle-checkout-button-wrapper .sezzle-button-text.sezzle-thin.sezzle-hide-amount {
    width: 180px
  }
  .sezzle-checkout-button-wrapper .sezzle-know-more {
    text-decoration: underline;
    cursor: pointer;
    font-size: 10px;
    padding-top: 3px
  }
  .sezzle-checkout-button-wrapper .sezzle-inline-text {
    padding-right: 6px;
    padding-top: 2px
  }
  @media (max-width: 350px) {
    .sezzle-checkout-button-wrapper .sezzle-inline-text {
        font-size: 14px
    }
  }
  .sezzle-checkout-button-wrapper .payment-amount {
    font-weight: 900
  }
  .sezzle-checkout-button-wrapper .sezzle-checkout-button {
    padding-left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    width: 320px;
    margin: 0 auto;
    line-height: 25px
  }
  .sezzle-checkout-button-wrapper .sezzle-checkout-button.sezzle-thin {
    width: 185px
  }
  .sezzle-checkout-button-wrapper .szl-dark-image,
  .sezzle-checkout-button-wrapper .szl-light-image {
    display: inline-block;
    height: 23px!important;
    width: auto;
    box-sizing: border-box;
    padding-right: 7px;
    margin-top: 3px
  }
  .sezzle-checkout-button-wrapper .sezzle-checkout-button:after,
  .sezzle-checkout-button-wrapper .sezzle-checkout-button:before {
    display: none
  }
  .sezzle-checkout-button-wrapper .additional_checkout_buttons {
    box-sizing: border-box;
    padding: 15px 0
  }
  .sezzle-checkout-button-wrapper .additional_checkout_buttons .sezzle-checkout-button {
    display: block;
    width: 100%
  }
  .sezzle-checkout-button-wrapper .sezzle-checkout-text {
    transition: .1s;
    background: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    width: auto;
    text-align: center;
    border: none;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: .65px;
    line-height: 16px;
    font-weight: 500;
    color: rgba(10, 40, 20, .8);
    display: inline-block
  }
  .sezzle-checkout-button-wrapper .sezzle-checkout-text:hover {
    cursor: pointer;
    transition: .1s;
    color: #0a2814
  }
  .sezzle-checkout-button-wrapper .sezzle-checkout-text img {
    display: block;
    height: 22px!important;
    margin: 5px 0;
    width: auto
  }
  .sezzle-checkout-button-wrapper .sezzle-checkout-button.szl-light .szl-dark-image {
    display: none
  }
  .sezzle-checkout-button-wrapper .sezzle-checkout-button.szl-light .szl-light-image {
    display: block
  }
  .sezzle-checkout-button-wrapper .sezzle-checkout-button.szl-dark .szl-light-image {
    display: none
  }
  .sezzle-checkout-button-wrapper .sezzle-checkout-button.szl-dark .szl-dark-image {
    display: block
  }
  .sezzle-banner-wrapper {
    display: block;
    width: 100%;
    text-align: left;
    padding-bottom: 10px
  }
  #sezzle_banner_image {
    display: block;
    max-width: 340px;
    height: auto;
    width: 95%;
    border-radius: 5px
  }
  #sezzle_banner_image:hover {
    cursor: pointer
  }
  @media (max-width: 770px) {
    #sezzle_banner_image {
        margin: 0 auto
    }
  }
  .sezzle-cart-page-widget .sezzle-la-luna-rose-jewellery .sezzle-button-text {
    width: 200px
  }
  .sezzle-hidden {
    display: none
  }
  .sezzle-test {
    font-size: 15px
  }
  .sezzle-checkout-button-wrapper.sezzle-right {
    text-align: right
  }
  .sezzle-checkout-button-wrapper.sezzle-left {
    text-align: left;
    float: left
  }
  .sezzle-shopify-info-button.sezzle-right {
    text-align: right;
    -ms-flex-pack: right;
    justify-content: right;
    float: right;
    margin: 0
  }
  .sezzle-checkout-button.sezzle-left {
    float: left;
    -ms-flex-pack: left;
    justify-content: left
  }
  .sezzle-button-text.sezzle-left {
    text-align: left;
    margin: 0
  }
  .sezzle-button-text.sezzle-center {
      text-align: center;
      margin: none;
  }
  .sezzle-checkout-button.sezzle-center {
      float: none;
      text-align: center;
  }
  .sezzle-thick-quality-glass .sezzle-know-more {
    padding-top: 0
  }
  .sezzle-thick-quality-glass .sezzle-inline-text {
    padding-top: 0;
    line-height: 25.4px
  }
  .sezzle-la-luna-rose-jewellery .sezzle-know-more {
    font-size: .5rem
  }
  .sezzle-freedomravewear.sezzle-product-preview-widget .sezzle-checkout-button-wrapper {
    color: #000
  }
  .sezzle-freedomravewear.sezzle-product-preview-widget .sezzle-checkout-button-wrapper .sezzle-inline-text,
  .sezzle-freedomravewear.sezzle-product-preview-widget .sezzle-checkout-button-wrapper .sezzle-know-more {
    padding-top: 2px
  }
  .sezzle-freedomravewear.sezzle-product-page-widget .sezzle-checkout-button-wrapper {
    color: #fff
  }
  .sezzle-freedomravewear.sezzle-product-page-widget .sezzle-checkout-button-wrapper .sezzle-inline-text,
  .sezzle-freedomravewear.sezzle-product-page-widget .sezzle-checkout-button-wrapper .sezzle-know-more {
    padding-top: 2px
  }
  .sezzle-freddyshop-com.sezzle-product-page-widget .sezzle-checkout-button-wrapper .sezzle-button-text {
    line-height: 28px;
    padding-bottom: 0
  }
  .sezzle-harvey-the-label.sezzle-product-page-widget .sezzle-checkout-button-wrapper .sezzle-inline-text {
    padding-top: 3px
  }
  .sezzle-lagoon-designs .sezzle-checkout-button-wrapper .sezzle-button-text.sezzle-thin {
    width: 200px
  }
  .sezzle-sir-boutique.sezzle-product-page-widget .sezzle-checkout-button-wrapper {
    margin-left: 15px;
    margin-bottom: 15px
  }
  .sezzle-sir-boutique .sezzle-know-more {
    font-size: 9px
  }
  .sezzle-onehoneyboutique .sezzle-know-more {
    font-size: 11px
  }
  .sezzle-lovestoreyboutique {
    margin-top: -25px;
    margin-bottom: 15px
  }
  .sezzle-pearlywhitesusa {
    margin-top: -40px;
    margin-bottom: 10px
  }
  .sezzle-tulle-and-batiste .sezzle-know-more {
    font-size: 9px
  }
  @media (max-width: 749px) {
    .sezzle-seven-swim.sezzle-cart-page-widget {
        text-align: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
        float: unset
    }
  }
  .sezzle-adrienharper.sezzle-cart-page-widget .sezzle-button-text {
    width: 280px;
    line-height: 28px
  }
  .sezzle-a-yogi-lifestyle.sezzle-cart-page-widget .sezzle-checkout-button-wrapper .sezzle-checkout-button .szl-light-image {
    width: unset!important
  }
  .sezzle-a-yogi-lifestyle.sezzle-product-page-widget {
    zoom: .86;
    color: #5f5f5f
  }
  .sezzle-a-yogi-lifestyle.sezzle-product-page-widget .sezzle-checkout-button-wrapper {
    font-size: 100%
  }
  .sezzle-a-yogi-lifestyle.sezzle-product-page-widget .payment-amount {
    font-weight: 100
  }
  .sezzle-a-yogi-lifestyle.sezzle-product-page-widget .szl-light-image {
    opacity: .7
  }
  .sezzle-bca5e8cd-0737-4f9b-9216-272ef313ed3f .szl-ligh-image {
      width: unset!important;
  }
  @media (max-width: 740px) {
    .sezzle-haatichai.sezzle-product-page-widget .sezzle-checkout-button-wrapper .sezzle-button-text {
        text-align: unset;
        margin: 0 auto
    }
    .sezzle-haatichai.sezzle-product-page-widget .sezzle-checkout-button-wrapper .sezzle-checkout-button {
        -ms-flex-pack: center;
        justify-content: center;
        float: unset
    }
  }
  @media (max-width: 740px) {
    .sezzle-amarilo-jewelry.sezzle-product-page-widget .sezzle-checkout-button-wrapper .sezzle-button-text {
        text-align: unset;
        margin: 0 auto
    }
    .sezzle-amarilo-jewelry.sezzle-product-page-widget .sezzle-checkout-button-wrapper .sezzle-checkout-button {
        -ms-flex-pack: center;
        justify-content: center;
        float: unset
    }
  }
  