.sezzle-checkout-button {
    width: auto;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: transparent;
    font-family: "Comfortaa", cursive;
    margin-bottom: 10px;
    font-size: 0.8125em;
    letter-spacing: 0.15em;
    background-position: center;
    transition: background 0.8s;
  }
  
  .sezzle-button-logo-img {
    position: relative;
    width: 50px;
    top: 3px;
  }
  
   .sezzle-button-dark {
    background: #fff;
    color: #392558;
   }
    .sezzle-button-dark:hover {
      background: #eee radial-gradient(circle, transparent 70%, #eee 70%) center/15000%;
      color: #392558;
    }
  
    .sezzle-button-dark:active {
      background-color: #ccc;
      background-size: 100%;
      color: #392558;
      transition: background 0s;
    }
  
  
  .sezzle-button-light {
    background: #392558;
    color: white;
  }
  .sezzle-button-light:hover {
    background: #d784ff radial-gradient(circle, transparent 1%, #d784ff 1%) center/15000%;
    color: white;
  }
  
  .sezzle-button-light:active {
    background-color: purple;
    background-size: 100%;
    color: white;
    transition: background 0s;
  }

  