{% if section.settings.show-sezzle-button %}

<style>
	@import url(https://fonts.googleapis.com/css?family=Comfortaa);
	.sezzle-checkout-button {
	  cursor: pointer;
	  font-family: "Comfortaa", cursive;
	  background-position: center;
	  transition: background 0.8s;
		border: none;
		vertical-align: middle;
	}
	.sezzle-button-light {
	  background-color: #392558;
	  color: white;
	}
	.sezzle-button-light:hover, .sezzle-button-light:focus {
	  background-color: #d784ff;
	  color: white;
	}
	.sezzle-button-light:active {
	  background-color: purple;
	  color: white;
	}
	.sezzle-button-dark {
	  background-color: #fff;
	  color: #392558;
	}
	.sezzle-button-dark:hover, .sezzle-button-dark:focus {
	  background-color: #eee;
	  color: #392558;
	}
	.sezzle-button-dark:active {
	  background-color: #ccc;
	  color: #392558;
	}
	.sezzle-button-logo-img {
		width: 70px;
		position: relative;
		top: -2px;
		vertical-align: middle;
	}
  </style>
  <script type="text/javascript">
function handleSezzleClick(event){
event.preventDefault();
event.stopPropagation();
location.replace("/checkout?skip_shopify_pay=true");
}
</script>
<button class="sezzle-checkout-button sezzle-button-{{section.settings.sezzle-button-theme}}" onclick="handleSezzleClick(event)">
    {{section.settings.sezzle-button-text}} <img class="sezzle-button-logo-img" src={% if section.settings.sezzle-button-theme == "dark" %} "https://media.sezzle.com/branding/2.0/Sezzle_Logo_FullColor.svg" {% else %} "https://media.sezzle.com/branding/2.0/Sezzle_Logo_FullColor_WhiteWM.svg"{% endif %} alt="Sezzle">
</button>
<script type="text/javascript">
	var shopifyButton = document.querySelector('[name="checkout"]');
	if(shopifyButton){
		var shopifyButtonStyles = getComputedStyle(shopifyButton);
		var sezzleButtons = document.getElementsByClassName('sezzle-checkout-button');
		for (let i = 0; i < sezzleButtons.length; i++) {
			sezzleButtons[i].style.fontSize = shopifyButtonStyles.fontSize;
			sezzleButtons[i].style.height = shopifyButtonStyles.height;
			sezzleButtons[i].style.padding = shopifyButtonStyles.padding;
			sezzleButtons[i].style.margin = shopifyButtonStyles.margin;
			sezzleButtons[i].style.borderRadius = shopifyButtonStyles.borderRadius;
		};
	}
</script>
<style>
  {{ section.settings.sezzle-button-style }}
</style>
<script>
  {{ section.settings.sezzle-button-script }}
</script>
{% endif %}

{% schema %}
  {
    "name": "Sezzle Checkout Button",
    "settings": [
	  {
        "id": "show-sezzle-button",
        "type": "checkbox",
        "label": {"en": "Show Sezzle Button"},
        "default": true
      },
      {
        "id": "sezzle-button-theme",
        "type": "select",
        "label": {"en": "Button Theme"},
        "default": "light",
        "options": [
			{
				"value": "light",
				"label": "light"
			},
			{
				"value": "dark",
				"label": "dark"
			}
        ]
      },
      {
        "id": "sezzle-button-text",
        "type": "select",
        "label": {"en": "Button Text"},
        "default": "Checkout with ",
        "options": [
			{
				"value": "Checkout with ",
				"label": "Checkout with Sezzle"
			},
			{
				"value": "Pay with ",
				"label": "Pay with Sezzle"
			},
			{
				"value": "",
				"label": "Sezzle"
			}
        ]
      },
      {
        "id": "sezzle-button-style",
        "type": "text",
        "label": {"en": "Custom Button Style"},
        "default": ".sezzle-checkout-button {} .sezzle-button-logo-img {}"
      },
      {
        "id": "sezzle-button-script",
        "type": "text",
        "label": {"en": "Custom Button Javascript"}
      }

	]
  }
{% endschema %}
