{% assign theme = 'light' %}

{% case theme %}
	{% when 'dark' %}
		{%- assign imageUrl = 'https://media.sezzle.com/branding/2.0/Sezzle_Logo_FullColor.svg' -%}
	{% else %}
		{%- assign imageUrl = 'https://media.sezzle.com/branding/2.0/Sezzle_Logo_FullColor_WhiteWM.svg' -%}
{% endcase %}

<style>
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
.sezzle-checkout-button {
	cursor: pointer;
	font-family: "Comfortaa", cursive !important;
	background-position: center;
	transition: background 0.8s;
	border: none;
	text-align: center;
	display: inline-block;
	min-width: fit-content;
	width: auto;
	text-decoration: none;
	text-transform: none;
	padding: 9px;
	font-size: 15px;
}
.sezzle-button-light {
	background-color: #392558 !important;
	color: white !important;
}
.sezzle-button-light:hover, .sezzle-button-light:focus {
	background-color: #d784ff !important;
}
.sezzle-button-light:active {
	background-color: purple !important;
}
.sezzle-button-dark {
	background-color: #fff !important;
	color: #392558 !important;
}
.sezzle-button-dark:hover, .sezzle-button-dark:focus {
	background-color: #eee !important;
}
.sezzle-button-dark:active {
	background-color: #ccc !important;
}
.sezzle-checkout-button .sezzle-button-logo-img {
	width: 70px;
	position: relative;
	top: -2px;
	vertical-align: middle;
	display: inline;
}
</style>
<script type="text/javascript">
	function handleSezzleClick(){
		location.replace("/checkout?skip_shopify_pay=true");

	}
</script>


<a class="sezzle-checkout-button sezzle-button-{{theme}}" href="javascript:handleSezzleClick()" id="szl" >
	Checkout with <img class="sezzle-button-logo-img" src="{{imageUrl}}" alt="Sezzle">
</a>
<script type="text/javascript">document.addEventListener( "readystatechange", function(){
		if(document.querySelector('html').lang === "fr"){document.getElementById("szl").innerHTML = `Achetez avec
    <img class="sezzle-button-logo-img" src="{{imageUrl}}" alt="Sezzle">`;}
	} )</script>
<script type="text/javascript">
	const shopifyButton = document.querySelector('[name="checkout"]');
	if(shopifyButton){
		const shopifyButtonStyles = getComputedStyle(shopifyButton);
		const sezzleButtons = document.getElementsByClassName('sezzle-checkout-button');
		for (let i = 0; i < sezzleButtons.length; i++) {
			sezzleButtons[i].style.display = shopifyButtonStyles.display;
			sezzleButtons[i].style.margin = shopifyButtonStyles.margin;
			sezzleButtons[i].style.borderRadius = shopifyButtonStyles.borderRadius;
		};
	}
</script>
